{% extends 'field/base.html' %}
{% block content %}
    <style>
        body{
            background-color: rgb(219, 219, 223);
        }
        .row{
            background-color: rgb(171, 173, 253);
         }
        .col-md-1{
            color: white;
            font-size: 20px;
        }
        
        .col-md-1 a{
            text-decoration: none;
            color: white;
        }
        .col-md-4{
            color: white;
            font-size: 20px;
        }
        #left{
            width: 50%;
            float: left;
            padding-left: 80px;
        }
        #right{
            width: 50%;
            float: left;
            padding-left: 80px;
        }
        #horizontal-line{
            width: 90%px;
            border: 2px solid green;
        }
        #end{
            float: center;
            text-align: center;
        }
        
    </style>

     <center>
    <h3>APPLY YOUR FIELD</h3>
    <div id="horizontal-line"></div><br>

    </center>
    <form class="form-inline" method="POST">
      {% csrf_token %}
      <div id="left">
       {{form.firstname.label}}
       {{form.firstname}} <br><br>

       {{form.middlename.label}}
       {{form.middlename}} <br><br>

       {{form.lastname.label}}
       {{form.lastname}} <br><br>

       {{form.regno.label}}
       {{form.regno}} <br><br>

       {{form.phone_number.label}}
       {{form.phone_number}} 
       </div>

       <div id="right">
       {{form.department.label}}
       {{form.department}} <br><br>

       {{form.level.label}}
       {{form.level}} <br><br>

       {{form.course.label}}
       {{form.course}} <br><br>

       {{form.year.label}}
       {{form.year}} <br><br>

       {{form.allocation.label}}
       {{form.allocation}} <br><br><br><br>
       </div>
        
        <br><br><br><br><center><button type="submit" class="btn btn-warning" style="width: 30%; background-color: green;">Submit</button></center>
      </form>
    <br><br><br>
            <!-- <div id="end">
                <br><br><br>
                <img src="fb.png" alt="" height="30px" width="40px">
                <img src="insta.png" alt="" height="40px" width="40px">
                <img src="twitter.png" alt="" height="30px" width="30px">
            </div> -->
{% endblock %}
