{% extends 'field/base.html' %}
{% load static %}
{% block content%}
    <style>
        body{
            background-color: rgb(219, 219, 223);
        }
        .row{
            background-color: rgb(171, 173, 253);
         }
        .col-md-1{
            color: white;
            font-size: 20px;
        }
        .col-md-1 a{
            text-decoration: none;
            color: white;
        }
        #horizontal-line{
            width: 90%px;
            border: 2px solid green;
        }

        #kwanza{
            width: 40%;
            float: left;
        }
        
        #pili{
            width: 60%;
            float: left;
            padding-left: 200px;
        }
        
        #end{
            float: center;
            text-align: center;
        }
        
    </style>

    <h3>"Endeavoring to lead in science and technology"</h3>

    
    <div id="horizontal-line"></div><br>
    </center>

    
    <div class="pamoja">
    <div id="kwanza">
        <p>
            <h5>Mbeya University of Science And Technology is among of leading university in 
                Tanzania currently
            </h5>
            <h5>
                Apply now for better education
            </h5><br><br>
            <h3>Apply your IPT now</h3>
    <button class="btn btn-primary" style="background: green;"><a href="{% url 'apply' %}" style="color: white; text-decoration: none;">Apply here</a></button>
        </p>
    </div>
    <div id="vertical-line">

    </div>
    <div id="pili">
        <img src="{% static 'field/must.png' %}" class="img-circle"  height="400px" width="400px" style="max-width: 100%; height: auto;" >
    </div>
</div>

{% endblock %}
